<?xml version="1.0" ?>
<model>
  <name>jsk_crescent_wrench</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>jsk</name>
    <email></email>
  </author>
  <description>
    copy from cadnav-1FP3212433.rar => Model_D0405211B18
    assimp export Crescent_Wrench.3ds Crescent_Wrench.dae
  </description>
</model>
