<?xml version="1.0" ?>
<model>
  <name>jsk_open_end_wrench</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>jsk</name>
    <email></email>
  </author>
  <description>
    copy from cadnav-1FP3205412.rar => Model_D0405211B16
    assimp export Open_End_Wrench.3ds Open_End_Wrench.dae
  </description>
</model>
