<?xml version="1.0" ?>
<model>
  <name>jsk_screw_driver</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>jsk</name>
    <email></email>
  </author>
  <description>
    copy from cadnav-1FI0222G7.rar => Model_D0405211A83
    assimp export screwdriver.fbx screw_driver.dae
  </description>
</model>
