<?xml version="1.0"?>

<model>
  <name>jsk_toolbox_metal_blue</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name></name>
    <email></email>
  </author>
  <description>
    copy from tools/toolbox_metal_blue (http://data.nvision2.eecs.yorku.ca/3DGEMS/data/tools.tar.gz)
  </description>
</model>
