<?xml version="1.0" ?>
<model>
  <name>jsk_plier</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>jsk</name>
    <email></email>
  </author>
  <description>
    copy from cadnav-1P225154Q2.rar => Models_E0106A052
    assimp export Pliers-2.FBX plier.dae
  </description>
</model>
