<?xml version="1.0" ?>
<model>
  <name>jsk_screw_driver2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>jsk</name>
    <email></email>
  </author>
  <description>
    copy from cadnav-1FP31I109.rar => Model_D0405211B14
    assimp export Allen_Driver.3ds Allen_Driver.dae
  </description>
</model>
