<?xml version="1.0" ?>
<model>
  <name>jsk_cutter</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>jsk</name>
    <email></email>
  </author>
  <description>
    copy from cadnav-1FI0220J7.rar => Model_D0405211A81
    assimp export box\ cutter_Highpoly_fbx_7.4.fbx cutter.dae
  </description>
</model>
